spring:
  main:
    banner-mode: off
server:
  port: ${NCANODE_PORT:14579}
ncanode:
  system:
    detailedErrors: ${NCANODE_DEBUG:false}
    cacheDir: ${NCANODE_CACHE_DIR:./cache}
  crl:
    enabled: ${NCANODE_CRL_ENABLED:true}
    ttl: ${NCANODE_CRL_TTL:1440}
    url: ${NCANODE_CRL_URL:https://crl.pki.gov.kz/nca_gost.crl https://crl.pki.gov.kz/nca_rsa.crl https://crl.pki.gov.kz/nca_rsa_2022.crl https://crl.pki.gov.kz/nca_gost_2022.crl}
    delta:
      url: ${NCANODE_CRL_DELTA_URL:https://crl.pki.gov.kz/nca_d_gost.crl https://crl.pki.gov.kz/nca_d_rsa.crl https://crl.pki.gov.kz/nca_d_rsa_2022.crl https://crl.pki.gov.kz/nca_d_gost_2022.crl}
      ttl: ${NCANODE_CRL_DELTA_TTL:60}
  http-client:
    connectionTtl: ${NCANODE_HTTP_CLIENT_CONNECTION_TTL:10}
    userAgent: ${NCANODE_HTTP_CLIENT_USER_AGENT:}
    proxy:
      url: ${NCANODE_PROXY_URL:}
      username: ${NCANODE_PROXY_USERNAME:}
      password: ${NCANODE_PROXY_PASSWORD:}
  ocsp:
    url: ${NCANODE_OCSP_URL:http://ocsp.pki.gov.kz/}
  ca:
    url: ${NCANODE_CA_URL:https://pki.gov.kz/cert/nca_rsa.crt https://pki.gov.kz/cert/nca_gost.crt https://pki.gov.kz/cert/root_gost_2022.cer https://pki.gov.kz/cert/nca_gost_2022.cer}
    ttl: ${NCANODE_CA_TTL:1440}
    crl:
      enabled: ${NCANODE_CA_CRL_ENABLED:true}
      ttl: ${NCANODE_CA_CRL_TTL:1440}
      url: ${NCANODE_CA_CRL_URL:http://crl.root.gov.kz/gost.crl http://crl.root.gov.kz/rsa.crl http://crl.root.gov.kz/gost2020.crl http://crl.root.gov.kz/rsa2020.crl}
      delta:
        enabled: false
        url:
        ttl:
  tsp:
    url: ${NCANODE_TSP_URL:http://tsp.pki.gov.kz/}
    retries: ${NCANODE_TSP_RETRIES:3}
