name: DOCS - Build and Deploy
on:
  push:
    branches: ["master"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Create artifact directory
        run: mkdir ./docs/_site && chmod 777 ./docs/_site
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3
          bundler-cache: true
      - name: Build site
        run: cd docs && bundle install && bundle exec jekyll b -d _site && cd ..
        env:
          JEKYLL_ENV: "production"
      - name: Generate Swagger UI
        uses: Legion2/swagger-ui-action@v1
        with:
          output: ./docs/_site/swagger-ui
          spec-file: openapi.yml
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./docs/_site

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
